body{
	background-color: white;
	font-family: monospace;
}

header{
	background-color: black;
	color: white;
	text-align: center;
	position: fixed;
	top: 0; 
	left: 0;
	right: 0;
	height: 100px;
}

main{
	margin-top: 110px;
}

a{
	text-decoration: none;
	color: white;
}

ul{
	padding: 0px;
}

header li{
	display: inline-block;
}

header li:hover, #stages a:hover{
	color: grey;
}

#stages h2{
	text-decoration: underline;
}

#stages a{
	color: black;
}

.anchor{
	display: block;
	padding-top: 100px;
	margin-top: -100px;
}