body{
	background-color: white;
}

header{
	background-color: black;
	color: white;
	font-family: monospace;
	text-align: center;
	position: fixed;
	top: 0; 
	left: 0;
	right: 0;
	height: 100px;
}

main{
	margin-top: 110px;
}

a{
	text-decoration: none;
	color: white;
}

ul{
	padding: 0px;
	list-style-type: none;
}

header li{
	display: inline;
}

header li:hover{
	color: grey;
}

